.button {
    background-color: transparent;
	border: 1px solid grey;
	text-align: center;
	border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
	font-weight: bold;

    &.success {
        color: #5c9210;
    }

    &.danger {
        color: #944317;
    }
}
