body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "hoc/main-layout/main-layout";

/*
 * UI
 */
 @import "components/UI/button/button";
 @import "components/UI/hamburger-button/hamburger-button";
 @import "components/UI/modal/modal";
 @import "components/UI/backdrop/backdrop";
 @import "components/UI/spinner/spinner";

/*
 * Navigation
 */
@import "components/logo/logo";
@import "components/navigation/toolbar/toolbar";
@import "components/navigation/side-drawer/side-drawer";
@import "components/navigation/navigation-list/navigation-list";
@import "components/navigation/navigation-list/navigation-item/navigation-item";

/*
 * Burger
 */
@import "components/burger/burger";
@import "components/burger/ingredient/burger-ingredient";
@import "components/burger/controls/build-controls";
@import "components/burger/controls/control/build-control";

