body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "./components/MainLayout/main-layout";
@import "./components/Burger/BurgerIngredient/burger-ingredient";
@import "./components/Burger/burger";

